{% extends "base_generic.html" %}

{% block navbar %}
<div class="row">
  <div class="col-md-10"></div>
  <div class="col-sm-2 right">
    <ul class="list-group" style="list-style-type: none;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a href="{% url 'password_change' %}" class="text-dark first"><u>Change Password</u></a>
          <a href="{% url 'logout' %}" class="text-dark last"><u>Logout</u></a><br>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock  %}

{% block content %}
<div class="row">
  {% load static %}
  <img src="{% static 'text/imagesbg.jpg' %}" alt="Innolux Picture" style="width: 80%; border: 0;">
</div>
<div class="modal" tabindex="-1" role="dialog" style="display:block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <a class="btn btn-secondary" href="{% url 'defect_classification' %}">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-sm-offset-3">
            <p class="text-center">Use the form below to change your password. Your password cannot be the same as your
              username.</p>
              
            <form method="post" id="passwordForm" novalidate>
              {% csrf_token %}

              {% if form.errors %}
              
              <div class="alert alert-danger" role="alert">
                {{form.errors}}
              </div>
              {% endif %}

              <div class="form-group">
                <label for="old_password">Old Password:</label>
                {{ form.old_password }}
              </div>
              <div class="form-group">
                <label for="new_password1">New Password:</label>
                {{ form.new_password1 }}
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span id="8char" class="text-danger">8 Characters Long</span> <br>
                  <span id="ucase" class="text-danger">One Uppercase Letter</span>
                </div>
                <div class="col-sm-6">
                  <span id="lcase" class="text-danger">One Lowercase Letter</span> <br>
                  <span id="num" class="text-danger">One Number</span>
                </div>
              </div>
              <div class="form-group" style="margin-top: 10px;">
                <label for="new_password2">Confirm New Password:</label>
                {{ form.new_password2 }}
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <span id="pwmatch" class="text-danger">Passwords Match</span>
                </div>
              </div>

          </div>
          <!--/col-sm-6-->
        </div>
        <!--/row-->
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
        <a class="btn btn-secondary" href="{% url 'defect_classification' %}">Close</a>
      </div>
      </form>
    </div>
  </div>
</div>
<script>
  $("input[type=password]").keyup(function () {
    var ucase = new RegExp("[A-Z]+");
    var lcase = new RegExp("[a-z]+");
    var num = new RegExp("[0-9]+");

    if ($("#id_new_password1").val().length >= 8) {
      $("#8char").removeClass("text-danger");
      $("#8char").addClass("text-success");
    } else {
      $("#8char").removeClass("text-success");
      $("#8char").addClass("text-danger");
    }

    if (ucase.test($("#id_new_password1").val())) {
      $("#ucase").removeClass("text-danger");
      $("#ucase").addClass("text-success");
    } else {
      $("#ucase").removeClass("text-success");
      $("#ucase").addClass("text-danger");
    }

    if (lcase.test($("#id_new_password1").val())) {
      $("#lcase").removeClass("text-danger");
      $("#lcase").addClass("text-success");
    } else {
      $("#lcase").removeClass("text-success");
      $("#lcase").addClass("text-danger");
    }

    if (num.test($("#id_new_password1").val())) {
      $("#num").removeClass("text-danger");
      $("#num").addClass("text-success");
    } else {
      $("#num").removeClass("text-success");
      $("#num").addClass("text-danger");
    }

    if ($("#id_new_password1").val() == $("#id_new_password2").val()) {
      $("#pwmatch").removeClass("text-danger");
      $("#pwmatch").addClass("text-success");
    } else {
      $("#pwmatch").removeClass("text-success");
      $("#pwmatch").addClass("text-danger");
    }
  });
</script>
{% endblock %}