{% extends 'base_generic.html' %}

{% block navbar %}
<div class="row">
    <div class="col-9">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href={% url 'test' %} role="tab" aria-controls="model_eval"
                    aria-selected="false">Latest Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'defect_classification' %} role="tab" aria-controls="defect"
                    aria-selected="false">Historical Data Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'user_manual' %} aria-selected="false">User Manual</a>
            </li>
        </ul>
    </div>
    <div class="col-3 right">
        {% include 'includes/user_setting_btn.html' %}
    </div>
</div>{% endblock navbar %}


{% block content %}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="model_eval" role="tabpanel" aria-labelledby="model_eval-tab">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab">
                        <a class="nav-item nav-link" id="nav-home-tab" href={% url 'defect_classification' %}
                            aria-controls="nav-home" aria-selected="false">ErrorCode Classification</a>
                        <a class="nav-item nav-link" id="nav-keyword-tab" href={% url 'model_keyword' %}
                            aria-controls="nav-keyword" aria-selected="false">Keyword Summary</a>
                        <a class="nav-item nav-link" id="nav-osr-tab" href={% url 'osr' %} aria-controls="nav-osr"
                            aria-selected="true">Onsite Repair</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="card" style="width: 100%;">
                        <div class="card-body">
                                The algorithm is training itself, therefore ErrorCode Classification pages are currently locked to prevent any possible mistakes. <br>Please comeback after 5
                                hours. Much Thanks.
                            </div>
                        {% load static %}
                            <img class="card-img-top" src="{% static 'text/training.jpg' %}" alt="Card image cap">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}